{% extends 'manager_template/base_template.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="row d-flex justify-content-center">

                <div class="col-md-6 ">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Zmiana hasła</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="/manager_change_password" method="post">
                            {% csrf_token %}

                            <div class="card-body">
{% crispy form %}
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <div class="form-group">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger"
                                                     style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                            {% if message.tags == 'success' %}
                                                <div class="alert alert-success"
                                                     style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <button type="Submit" class="btn btn-info btn-block">Zmień hasło</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
                        </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
