{% extends 'manager_template/base_template.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">

            <div class="row d-flex justify-content-center">

                <div class="col-md-4 ">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Ocena umiejętności pracownika {{ worker.first_name }} {{ worker.last_name }}</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="/edit_rating_worker_skill_save" method="post">
                            {% csrf_token %}


                            <div class="card-body">

                                {% for rating in ratings %}
                                    {{ rating.skill_id.name }}:
                                    <div class="col-md-12">
                                        <select class="form-control" name="{{ rating.id }}">
                                            {% for el in list %}
                                                <option value="{{ el }}" {% if  el  ==  rating.rate %}
                                                        selected {% endif %}>
                                                    {{ el }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <br>
                                {% endfor %}


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-info btn-block">Zapisz</button>
                                <div class="form-group">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <div class="alert alert-danger"
                                                     style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                            {% if message.tags == 'success' %}
                                                <div class="alert alert-success"
                                                     style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                    <div class="col-md-12">
                        <strong>Opis: </strong>
                        <p>0 – Nie posiada danej umiejętności – nie wie, jak wykonać daną czynność, nigdy tego nie
                            robił</p>
                        <p>1 – Uczy się – zaczyna nabywać umiejętność, uczy się podstawowych czynności</p>
                        <p>2 – Potrafi wykonać podstawowe czynności – posiada już podstawowe umiejętności z danego
                            zakresu, ale nie potrafi jeszcze pracować w pełni samodzielnie</p>
                        <p>3 – Pracuje samodzielnie – jest w stanie poradzić sobie z większością sytuacji, wymagających
                            danej umiejętności, rzadko potrzebuje wsparcia</p>
                        <p>4 – Uczy innych – opanował daną umiejętność na tyle dobrze, że jest w stanie nauczyć jej
                            innych pracowników.</p>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
