{% extends 'manager_template/base_template.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a href="add_worker" type="button" class="btn btn-info btn-block">Dodaj pracownika</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.card -->
    </section>



    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Pracownicy</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap ">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th  class="th-sm">Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Stanowisko</th>
                                    <th>Dział/Brygada</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for worker in workers %}
                                    <tr>
                                        <td class="align-middle"><img src="{{ worker.profile_pic }}" style="width: 50px" /></td>
                                        <td class="align-middle">{{ worker.first_name }}</td>
                                        <td class="align-middle">{{ worker.last_name }}</td>
                                        <td class="align-middle">{{ worker.position_id}}</td>
                                        <td class="align-middle"><{{ worker.division_id }}</td>

                                        <td class="align-middle">
                                            <a href="{% url "worker_profile" worker.id %}" type="button" class="btn btn-outline-success btn-top" data-toggle="tooltip"
                                                        title="Pokaż profil"><i class="far fa-eye"></i></a>
                                            <a href=# type="button" class="btn btn-outline-secondary btn-top" data-toggle="tooltip"
                                                        title="Edytuj umiejętności"><i class="far fa-edit"></i></a>
                                            <a href="{% url "edit_worker" worker.id %}" type="button" class="btn btn-outline-warning btn-top" data-toggle="tooltip"
                                                        title="Edytuj profil"><i class="fas fa-pencil-alt"></i></a>
                                            <button type="button" class="btn btn-outline-danger btn-top" data-toggle="modal"
                                                        data-target="#deleteModal" data-toggle="tooltip"
                                                        title="Usuń"
                                                        data-id="{{ worker.id }}"
                                                        data-first_name="{{ worker.first_name }}"
                                                        data-last_name="{{ worker.last_name }}">
                                                        <i class="fa fa-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Usuwanie pracownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
                        <a type="button" class="btn btn-outline-danger" >Potwierdź</a>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
    <script>
        $(document).ready(function () {

            $('#deleteModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let worker_id = button.data('id');
                let worker_first_name = button.data('first_name');
                let worker_last_name = button.data('last_name');

                let modal = $(this)

                modal.find('.modal-body p').text("Czy chcesz usunąć pracownika " + worker_first_name + " " + worker_last_name + " ?");
                modal.find('.btn-outline-danger').attr("href", "/delete_worker/" + worker_id);
            });
            $(".btn-top").tooltip({
                placement : 'top'
            });

        });

    </script>
{% endblock custom_js %}
