{% extends 'manager_template/base_template.html' %}

{% block page_title %}
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <br>
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="form-group">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <form role="form" action="/add_division_save" method="post">

                        <div class="row justify-content-center">
                            <div class="input-group input-group ">

                                {% csrf_token %}
                                <input type="text" class="form-control" name="name" required
                                       placeholder="Dodaj dział/brygadę">
                                <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-fat">Dodaj</button>
                            </span>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </section>
    {% for division in divisions %}
        <section class="content">
            <div class="container-fluid">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-header border">
                                <h3 class="card-title "><b>{{ division.name }}</b></h3>
                                <div class="card-tools">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-top"
                                                data-toggle="modal" data-target="#pinWorkerModal"
                                                title="Przypisz pracownika"
                                                data-id="{{ division.id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-warning btn-sm btn-top"
                                                data-toggle="modal" data-target="#editModal" title="Edytuj nazwę"
                                                data-id="{{ division.id }}"
                                                data-name="{{ division.name }}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-top"
                                                data-toggle="modal"
                                                data-target="#deleteModal" data-toggle="tooltip"
                                                title="Usuń stanowisko"
                                                data-id="{{ division.id }}"
                                                data-name="{{ division.name }}">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                    </div>
                                     <br>
                                </div>

                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table  table-hover text-nowrap ">
                                        <tbody>
                                        {% for worker in workers %}
                                            {% if worker.division_id.id == division.id %}
                                                <tr>
                                                    <td class="align-middle"><img src="{{ worker.profile_pic }}"
                                                                                  style="width: 50px"/></td>
                                                    <td class="align-middle">{{ worker.first_name }}</td>
                                                    <td class="align-middle">{{ worker.last_name }}</td>
                                                    <td class="align-middle text-right">{{ worker.position_id.name }}</td>


                                                    <td class="align-middle text-right">
                                                        <button type="button"
                                                                class="btn btn-outline-danger btn-sm btn-left"
                                                                data-toggle="modal" title="Odepnij pracownika"
                                                                data-target="#unpinWorkerModal"
                                                                data-id="{{ worker.id }}"
                                                                data-first_name="{{ worker.first_name }}"
                                                                data-last_name="{{ worker.last_name }}"
                                                                data-name="{{ division.name }}"
                                                        ><i class="fas fa-minus"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Usuwanie działu</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj
                                </button>
                                <a type="button" class="btn btn-outline-danger">Potwierdź</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form role="form" action="/edit_division_save" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edycja</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>Nazwa</label>
                                        <input type="text" class="form-control" name="name" maxlength="50"
                                               placeholder="Podaj nazwę">

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Anuluj
                                    </button>
                                    <button type="submit" class="btn btn-outline-success">Potwierdź</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="pinWorkerModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form role="form" action="/pin_to_division" method="post">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Przypinanie pracownika do
                                        działu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-group">
                                        <label>Pracownik</label>
                                        <select class="form-control" name="worker_id">
                                            <option value=0>Wybierz pracownika</option>
                                            {% for worker in workers %}
                                                <option value="{{ worker.id }}">{{ worker.first_name }} {{ worker.last_name }}
                                                    {% if worker.division_id.id != None %}  --
                                                        {{ worker.division_id.name }}{% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Anuluj
                                    </button>
                                    <button type="submit" class="btn btn-outline-success">Dodaj</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="unpinWorkerModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Odpinanie pracownika</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="p1"></p>
                                <p class="p2"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj
                                </button>
                                <a type="button" class="btn btn-outline-danger">Potwierdź</a>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
        <br>
    {% endfor %}


    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
    <script>
        $(document).ready(function () {

            $('#deleteModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget);
                let division_id = button.data('id');
                let division_name = button.data('name');

                let modal = $(this)

                modal.find('.modal-body p').text("Czy chcesz usunąć dział: " + division_name + " ?");
                modal.find('.btn-outline-danger').attr("href", "/delete_division/" + division_id);
            });
            $('#editModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let division_id = button.data('id');
                let division_name = button.data('name');

                let modal = $(this)
                modal.find('.modal-body input').val(division_name)
                modal.find('.modal-footer input').val(division_id)
            });
            $('#pinWorkerModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let division_id = button.data('id');
                let modal = $(this)
                modal.find('.modal-footer input').val(division_id)

            });
            $('#unpinWorkerModal').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget); // Button that triggered the modal
                let worker_id = button.data('id');
                let worker_first_name = button.data('first_name');
                let worker_last_name = button.data('last_name');
                let division_name = button.data('name')

                let modal = $(this)

                modal.find('.p1').text("Czy chcesz odpiąć od  działu " + division_name);
                modal.find('.p2').text(" pracownika " + worker_first_name + " " + worker_last_name + " ?");
                modal.find('.btn-outline-danger').attr("href", "/unpin_from_division/" + worker_id);
            });

            $(".btn-top").tooltip({
                placement: 'top'
            });
            $(".btn-left").tooltip({
                placement: 'left'
            });
        });
    </script>
{% endblock custom_js %}
