 {% load static %}
  <aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            {% if user.managers.profile_pic == "" %}
            <img src="media/default/avatar.png" class="avatar img-circle" alt="User Image" style="width: 40px; height: 40px">
            {% else %}
            <img src="{{ user.managers.profile_pic }}" class="avatar img-circle" alt="User Image" style="width: 40px; height: 40px">
            {% endif %}
        </div>
        <div class="info">
          <a href="{%  url 'manager_profile' %}" class="d-block">{{ user.first_name }}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
              {% url 'add_assistant' as add_assistant %}
            <a href="{% url 'add_assistant' %}" class="nav-link {% if request.path == add_assistant %} active {% endif %}">
              <i class="fas fa-user-plus"> </i>
              <p>
                Dodaj asystenta
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'manage_assistant' as manage_assistant %}
            <a href="{% url 'manage_assistant' %}" class="nav-link {% if request.path == manage_assistant %} active {% endif %}">
              <i class="fas fa-users"></i>
              <p>
                Asystenci
              </p>
            </a>
          </li>

          <li class="nav-item">
                {% url 'manage_worker' as manage_worker %}
                {% url 'edit_worker' worker_id as edit_worker %}
                {% url 'profile_worker' worker_id as profile_worker %}
            <a href="{% url 'manage_worker' %}" class="nav-link  {% if request.path == manage_worker %} active {% endif %} {% if request.path == edit_worker %} active {% endif %} {% if request.path == profile_worker %} active {% endif %}">
              <i class="fas fa-address-card"></i>
              <p>
                Pracownicy
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'manage_position' as manage_position %}
            <a href="{% url 'manage_position' %}" class="nav-link {% if request.path == manage_position %} active {% endif %} ">
              <i class="fas fa-star"></i>
              <p>
                Stanowiska
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'manage_division' as manage_division %}
            <a href="{% url 'manage_division' %}" class="nav-link {% if request.path == manage_division %} active {% endif %}">
              <i class="fas fa-cogs"></i>
              <p>
                Działy/Brygady
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'manage_skill' as manage_skill %}
                          <a href="{% url 'manage_skill' %}" class="nav-link {% if request.path == manage_skill %} active {% endif %}">
              <i class="fas fa-chart-line"></i>
              <p>
                Umiejętności
              </p>
            </a>
          </li>
          <li class="nav-item">
              {%  url 'skill_matrix_table' as skill_matrix_table %}
            <a href="{% url 'skill_matrix_table' %}" class="nav-link {% if request.path == skill_matrix_table %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Matryca kompetencji
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'comparison_of_workers' as comparison_of_workers %}
               <a href="{%  url 'comparison_of_workers' %}" class="nav-link {% if request.path == comparison_of_workers %} active {% endif %} ">
              <i class="fas fa-people-arrows"> </i>
              <p>
                Pracownicy-porównanie
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>