 {% load static %}
  <aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
{#    <a href="index3.html" class="brand-link">#}
{#      <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"#}
{#           style="opacity: .8">#}
{#      <span class="brand-text font-weight-light">AdminLTE 31234567890123456</span>#}
{#    </a>#}

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            {% if user.assistants.profile_pic == "" %}
            <img src="media/default/avatar.png" class="avatar img-circle" alt="User Image" style="width: 40px; height: 40px">
            {% else %}
            <img src="{{ user.assistants.profile_pic }}" class="avatar img-circle" alt="User Image" style="width: 40px; height: 40px">
            {% endif %}
        </div>
        <div class="info">
          <a href="{%  url 'assistant_profile' %}" class="d-block">{{ user.first_name }}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
                {% url 'assistant_manage_worker' as manage_worker %}
                {% url 'assistant_edit_worker' worker_id as edit_worker %}
                {% url 'assistant_profile_worker' worker_id as profile_worker %}
            <a href="{% url 'assistant_manage_worker' %}" class="nav-link  {% if request.path == asistant_manage_worker %} active {% endif %} {% if request.path == assistant_edit_worker %} active {% endif %} {% if request.path == assistant_profile_worker %} active {% endif %}">
              <i class="fas fa-address-card"></i>
              <p>
                Pracownicy
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'assistant_manage_position' as assistant_manage_position %}
            <a href="{% url 'assistant_manage_position' %}" class="nav-link {% if request.path == assistant_manage_position %} active {% endif %} ">
              <i class="fas fa-star"></i>
              <p>
                Stanowiska
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'assistant_manage_division' as assistant_manage_division %}
            <a href="{% url 'assistant_manage_division' %}" class="nav-link {% if request.path == assistant_manage_division %} active {% endif %}">
              <i class="fas fa-cogs"></i>
              <p>
                Działy/Brygady
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'assistant_manage_skill' as assistant_manage_skill %}
                          <a href="{% url 'assistant_manage_skill' %}" class="nav-link {% if request.path == assistant_manage_skill %} active {% endif %}">
              <i class="fas fa-chart-line"></i>
              <p>
                Umiejętności
              </p>
            </a>
          </li>
          <li class="nav-item">
              {%  url 'assistant_skill_matrix_table' as assistant_skill_matrix_table %}
            <a href="{% url 'assistant_skill_matrix_table' %}" class="nav-link {% if request.path == assistant_skill_matrix_table %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Matryca kompetencji
              </p>
            </a>
          </li>
          <li class="nav-item">
              {% url 'assistant_comparison_of_workers' as assistant_comparison_of_workers %}
               <a href="{%  url 'assistant_comparison_of_workers' %}" class="nav-link {% if request.path == assistant_comparison_of_workers %} active {% endif %} ">
              <i class="fas fa-people-arrows"> </i>
              <p>
                Pracownicy-porównanie
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>